{% extends "gestion_personal.html" %}

{% block gestion_personal_content %}
<h2 class="mb-4">Cargos de Personal</h2>
<div class="scrollable-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Estado de Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cargo in cargos %}
            <tr>
                <td>{{ cargo.CarPerCod }}</td>
                <td>{{ cargo.CarPerNom }}</td>
                <td>{{ cargo.CarPerEstReg.EstRegNom }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm" href="{% url 'cargo_personal_edit' cargo.CarPerCod %}">Modificar</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'cargo_personal_delete' cargo.CarPerCod %}">Eliminar</a>
                        <a class="btn btn-secondary btn-sm" href="{% url 'toggle_cargo_personal_status' cargo.CarPerCod %}">
                            {% if cargo.CarPerEstReg.EstRegNom == 'Activo' %}
                                Inactivar
                            {% else %}
                                Activar
                            {% endif %}
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a class="btn btn-success" href="{% url 'cargo_personal_add' %}">Adicionar</a>
{% endblock %}
