{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Gestión de Clientes</h2>
<nav class="navigation mb-4">
    <a class="btn btn-secondary {% if request.path == '/SQL/clientes/list/' %}active{% endif %}" href="{% url 'cliente_list' %}">Lista de Clientes</a>
    <a class="btn btn-secondary {% if request.path == '/SQL/estado_cliente/' %}active{% endif %}" href="{% url 'estado_cliente_list' %}">Estados de Cliente</a>
    <a class="btn btn-secondary {% if request.path == '/SQL/tipo_cliente/' %}active{% endif %}" href="{% url 'tipo_cliente_list' %}">Tipos de Cliente</a>
</nav>
<div class="centered-box">
    {% block gestion_clientes_content %}
    {% endblock %}
</div>
{% endblock %}
